.avatar {
    margin-right: 30px;
    background-color: #eff5b3;
    border-radius: 4px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.12;
}

.status {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.online {
    composes: status;
    background-color: green;
}

.offline {
    composes: status;
    background-color: red;
}

.item {
    display: flex;
    align-items: center;
    width: 280px;
    padding: 10px;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 4px;
    background-color: white;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}